body{
    background-color: #666666;
}

#price{
    width: 150px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}
#quantity{
    width: 150px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}
#price:focus{
    outline:none;
    border-color:#333333;
  }
#quantity:focus{
    outline:none;
    border-color:#2196F3;
}
#result{
    color:white;
}
form{
    border: solid;
    border-radius: 40%;
    border-collapse: collapse;
    margin:200px 200px 200px 200px;
    padding: 10% 10% 10% 20%;
    border-color: #333333;
    flex-direction: row;
}
@media screen and (max-width: 560px) {
    #price{
        width: 100px;
        font-size: 12px;
    }
    #quantity{
        width: 100px;
        font-size: 12px;
    }
}
