body{
    background:linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(37,160,163,1) 59%, rgba(0,212,255,1) 78%, rgba(233,233,255,1) 100%) ;
}

#price{
    width: 150px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}
#quantity{
    width: 150px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}
#price:focus{
    outline:none;
    border-color:#333333;
  }
#quantity:focus{
    outline:none;
    border-color:#2196F3;
}
#result{
    color:white;
}
form{
    border: 2px ridge;
    border-collapse: collapse;
    margin: 100px;
    padding: 50px;
    border-radius: 50px;
    flex-direction: row;
    background:linear-gradient(90deg, rgba(2,0,36,1) 18%, rgba(37,160,163,1) 59%, rgba(0,212,255,1) 78%, rgba(233,233,255,1) 100%);
}
@media screen and (max-width: 560px) {
    #price{
        width: 80px;
        font-size: 12px;
    }
    #quantity{
        width: 110px;
        font-size: 12px;
    }
}
