
body {
    font-size: 20px;
    background-image: url(wallpaper.jpg);
}

.header, .nav, .links, .table, .form, .footer {
    background-color: rgb(204,255,255);
    padding: 0.2em;
    border-style: double;
    border-color: rgb(11, 211, 211);
    border-image: initial;
}

.container {
    width: 960px;
    margin: 0.5em auto;
    padding-bottom: 0.1em;
}

#bheader {
    margin: 0 2em;
    border-style: double;
    border-color: rgb(11, 211, 211);
    border-image: initial;
}

.nav a{
    margin-right: 1em;
}

b {
    font-size: 36px;
}

table {
    background-color: white;
    border: 1px solid;
    border-collapse: collapse;
    border-style: double;
    border-style: double;
    border-color: rgb(11, 211, 211);
    border-image: initial;
}

td{
    border: 1px rgb(204,255,255);;
    padding: 3px 5px 3px 5px;
    text-align: center;
    border-style: double;
    border-color: rgb(11, 211, 211);
    border-image: initial;
}

tr:nth-child(odd) {
    background-color: rgb(11, 211, 211);
    border-style: double;
    border-style: double;
    border-color: rgb(11, 211, 211);
    border-image: initial;
}
